<div class="reviews">
  <h1>Nimimerkin
    <mark>{{reviewer}}</mark>
      kaikki arvostelut:
  </h1>
  <div ng-repeat="movie in movies | filter:reviewermoviefilter"
       class="reviewblock"
  >
    <h3>Elokuva:
      <a href="#movie"
         ng-click="viewmovie(movie.id)"
      >{{movie.title}}
      </a>
    </h3>
    <div ng-repeat="review in movie.reviews | filter:reviewerreviewfilter"
         class="reviewcontent"
    >
      <h2 class="score">{{review.review.reviewscore}}</h2>
      <p class="reviewtext">
        {{review.review.reviewtext}}
      </p>
    </div>
  </div>
</div>
